/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea
.idea/
nbproject/
*.patch
docker/db-scripts/

composer.lock

database/migrations

webpack.mix.js
package-lock.json
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
/public/fonts/vendor
/public/images/vendor
/public/vendor
/resources/js/app.js
/resources/js/bootstrap.js
/resources/sass/app.scss

cookie.txt
public/cookie.txt
files-not-be-tracked
/index.php
cpanel_pem
